intersphinx-registry
joblib
librosa
torch~=2.3.0
numpy~=1.26.4
numpydoc
onnxruntime
openai-whisper
pandas~=2.2.2
pyannote.audio~=3.0
pydata-sphinx-theme
PyYAML~=6.0.1
rich
scipy
setuptools~=68.2.0
soundfile
speechbrain
torch
torchaudio
transformers
whisper-timestamped