joblib
librosa
pandas~=2.2.2
pyannote.audio~=3.0
torch~=2.3.0
numpy~=1.26.4
onnxruntime
openai-whisper
PyYAML~=6.0.1
scipy
setuptools~=68.2.0
soundfile
speechbrain
torch
torchaudio
transformers
whisper-timestamped